.content{
    top:80 !important;
}

@media (max-width :991px ){
    .content{
        top :66px !important;
    }
    .basket,.icon-menu-mobile{
        width:45%!important;
    }
}
@media (min-width:992px){
    .content{
        top:120px !important;
    }
}

img{
    width: 100%;
    height: 100%;
}